src/main/app/bc-ingest-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.8.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/current/mule-spring-security.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="bc-ingest-service">
		<http:listener config-ref="http_metadata_inbound_listener" path="${boxtv_metadata_app.bc.ingest}/*" doc:name="HTTP"/>
		
		
		 <choice doc:name="Choice">
	         <when expression="#[message.inboundProperties['http.method'] == 'OPTIONS']">
	         	<transformer ref="doNothingTransformer"/>         	
	  		 </when>
	    	<otherwise>	    	   
	        	<http:basic-security-filter realm="mule-realm"/>
	        	<mule-ss:authorization-filter requiredAuthorities="#{ {'ROLE_USER', 'ROLE_ADMIN'} }"/>	        	
	        	<transformer ref="bcVideoIngestTransformer" doc:name="BC Video Ingest"/>    	
	        </otherwise>
	    </choice>
		
		        
        
</flow>

</mule>
