src/main/app/image-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
   
    <flow name="image-episode-servicesFlow">
        <http:listener config-ref="http_metadata_inbound_listener" path="${image_service_app.episodes}/*" doc:name="HTTP">
        <http:response-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:response-builder>
        </http:listener>
        
        
        <choice doc:name="Choice">
	         <when expression="#[message.inboundProperties['http.method'] == 'OPTIONS']">
	         	<transformer ref="doNothingTransformer"/>         	
	  		 </when>
	    	<otherwise>
	        	<http:basic-security-filter realm="mule-realm"/>
	        	<transformer ref="imageListEpisodeService" doc:name="Transformer Episode Service"/>    	
	        </otherwise>
	    </choice>

    </flow>
    
    
     <flow name="image-set-servicesFlow">
        <http:listener config-ref="http_metadata_inbound_listener" path="${image_service_app.image.sets}/*" doc:name="HTTP">
        <http:response-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:response-builder>
        </http:listener>
        
        
        <choice doc:name="Choice">
	         <when expression="#[message.inboundProperties['http.method'] == 'OPTIONS']">
	         	<transformer ref="doNothingTransformer"/>         	
	  		 </when>
	    	<otherwise>
	        	<http:basic-security-filter realm="mule-realm"/>
	        	<transformer ref="imageSetService" doc:name="Transformer Image Set Service"/>    	
	        </otherwise>
	    </choice>

    </flow>
    
    
    
    <flow name="image-Flow">
        <http:listener config-ref="http_metadata_inbound_listener" path="${image_service_app.image.images}/*" doc:name="HTTP">
        <http:response-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:response-builder>
        </http:listener>
        
        
        <choice doc:name="Choice">
	         <when expression="#[message.inboundProperties['http.method'] == 'OPTIONS']">
	         	<transformer ref="doNothingTransformer"/>         	
	  		 </when>
	    	<otherwise>
	        	<http:basic-security-filter realm="mule-realm"/>
	        	<transformer ref="imageService" doc:name="Transformer Image Service"/>	        	    	
	        </otherwise>
	    </choice>

    </flow>
    
</mule>
